<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/common.css') }}?id=1000" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/index.css') }}?id=1001" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/index_mobile.css') }}?id=1002" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
    <title>Chevron HR Employee Database</title>
</head>

<body>
    <div id="body-box">
        <div id="header">
            <nav id="navbar">
                <div id="home"> <small>Home |  </small></div>
                <div id="employee"> <small> Employee Profiles |  </small></div>
                <div id="profile"> <small> My Profile |  </small></div>
                <div id="settings"> <small> Settings |  </small></div>
                <div id="help"> <small>  Help </small></div>
            </nav>
            <div id="chevlogo">
                <img src="static/icons/favicon.png">
                <div id = "skillalign"> <b>Chevron Skill Align </b></div>
            </div>
        </div>
        <div id="main-box">
            <div id="avatar-container">
                <div id="avatar">
                    <img src="static/image1_PNG.avif">
                    <span id = "av1name" ><b>Jessica Terry</b></span>
                </div>

                <div id="avatar2">
                    <img src="static/Maurice Walker.jfif">
                    <a href="/ncathack/employeeskills" class="container"><b>Maurice Walker</b></a>
                </div>
                <div id="avatar3">
                    <img src="static/steve harvey">
                    <span id = "av3name" ><b>Steve Harvey</b></span>
                </div>
                <div id="avatar4">
                    <img src="static/image1_PNG.avif">
                    <span id = "av4name" ><b>Jessica Terry</b></span>
                </div>
                <div id="avatar5">
                    <img src="static/image1_PNG.avif">
                    <span id = "av5name" ><b>Jessica Terry</b></span>

                </div>
                <div id="avatar6">
                    <img src="static/image1_PNG.avif">
                    <span id = "av6name" ><b>Jessica Terry</b></span>
                </div>
                <div id="avatar7">
                    <img src="static/Kevin Hart">
                    <span id = "av7name" ><b>Kevin Hart</b></span>
                </div>
                <div id="avatar8">
                    <img src="static/image1_PNG.avif">
                    <span id = "av8name" ><b>Jessica Terry</b></span>
                </div>
                <div id="avatar9">
                    <img src="static/image1_PNG.avif">
                    <span id = "av9name" ><b>Jessica Terry</b></span>
                </div>
                <div id="avatar10">
                    <img src="static/violadavis">
                    <span id = "av10name" ><b>Annalise Keating</b></span>
                </div>
                <div id="avatar11">
                    <img src="static/Screenshot 2025-04-05 033314.png">
                    <span id = "av11name" ><b>Damson Idris</b></span>
                </div>
                <div id="avatar12">
                    <img src="static/Tanya Pierce">
                    <span id = "av12name" ><b>Tanya Pierce</b></span>
                </div>
                <div id="avatar13">
                    <img src="static/image1_PNG.avif">
                    <span id = "av13name" ><b>Jessica Terry</b></span>
                </div>
                <div id="avatar14">
                    <img src="static/Celeste Jackson">
                    <span id = "av14name" ><b>Celeste Jackson</b></span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>